# PORT = 8000
# MONGO_URI=mongodb+srv://weepokadevarif:5jnMyMz5DmiSaeKY@cluster0.ntvsvfy.mongodb.net/?retryWrites=true&w=majority
# MONGO_URI=mongodb+srv://weepokadevarif:5jnMyMz5DmiSaeKY@cluster0.ntvsvfy.mongodb.net/backend?retryWrites=true&w=majority
# DB_USERNAME =weepokadevarif
# DB_PASS=5jnMyMz5DmiSaeKY
# CORS_ORIGIN=*
# ACCESS_TOKEN_SECRET=
# ACCESS_TOKEN_EXPIRY=1d
# REFRESH_TOKEN_SECRET=klsdlkfjsfjaskldfjaskdfj9293
# REFRESH_TOKEN_EXPIRY=10d

# CLOUDINARY_CLOUD_NAME=dujzmxynr
# CLOUDINARY_API_KEY=762326455261152
# CLOUDINARY_API_SECRET=Y1i82g29B--IYv3IFJVf1vV4ZBw